<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Markostractions</title>
  </head>
  <body>
<!-- <lasso-body> --><script src="./static/index.js"></script>
<script>$_mod.ready();</script><!-- </lasso-body> --></body>
</html>
