<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Markostractions</title>
    <!-- <lasso-head> --><link rel="stylesheet" href="./static/index.css"><!-- </lasso-head> -->
  </head>
  <body>
    <!-- <lasso-body> --><script src="./static/index.js"></script>
<script>$_mod.ready();</script><!-- </lasso-body> -->
  </body>
</html>
