
div.grid
    div.cell on-click('read') -- Wikipedia
    div.cell on-click('watch') -- TED Talk
    div.cell on-click('listen') -- MTV
    div.cell -- Game
    div.cell -- Gif
    div.cell -- Beatmaker
    div.cell -- Useless Website
    div.cell -- Quick Draw
    div.cell -- Vapor Groove
