@import url('https://fonts.googleapis.com/css?family=Monoton|Revalia');

body {
  background: black;
}

.title {
  font-size: 100px;
}

.cell {
  flex: 30%;
  height: 90px;
  padding-top: 20px;
  color: white;
  text-shadow: #00FFFF 5px 5px 5px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  font-family: 'Revalia', cursive;
  font-weight: bolder;
  margin: 10px 10px;
  background: url('./images/img1.png') no-repeat;
  background-size: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid blue;
}

.cell:nth-child(2) {
  background: url('./images/img10.png') no-repeat;
  background-size: cover;
}

.cell:nth-child(3) {
  background: url('./images/img3.png') no-repeat;
  background-size: cover;
}

.cell:nth-child(4) {
  background: url('./images/img4.png') no-repeat;
  background-size: cover;
  padding-bottom: 8px;
}

.cell:nth-child(5) {
  background: url('./images/img12.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 10px;
}

.cell:nth-child(6) {
  background: url('./images/img6.png') no-repeat;
  background-size: cover;
}

.cell:nth-child(7) {
  background: url('./images/img7.png') no-repeat;
  background-size: cover;
}

.cell:nth-child(8) {
  background: url('./images/img11.png') no-repeat;
  background-size: cover;
}

.cell:nth-child(9) {
  background: url('./images/img9.png') no-repeat;
  background-size: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cell:hover {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  -webkit-box-shadow: 0px 0px 15px 10px blue;
  box-shadow: 0px 0px 15px 10px blue;

}
