.minutes-btn {
  border: 1px solid black;
  margin: 10px;
  background-color: magenta;
}

.hours-btn {
  border: 1px solid black;
  margin: 10px;
  background-color: yellow;
}

.days-btn {
  border: 1px solid black;
  margin: 10px;
  background-color: aqua;
}
