.header {
  text-align: center;
  font-size: 36px;
  color: #260C1A;
}

.btn-container {
  display: flex;
}

.minutes-btn, .hours-btn, .days-btn {
  flex: 1;
  margin-bottom: 40px;
  border: none;
  height: 10vh;
  font-size: 24px;
  color: white;
  background-color: #260C1A;
}

.minutes-btn:hover, .hours-btn:hover, .days-btn:hover {
  background-color: #832247;
}
